<header class="header">
  <a href="#">
    <img class="logo" src="../static/img/omnifood-logo.png" alt="Omnifood logo">
  </a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li>
        <a href="#how" class="main-nav-link">How it works</a>
      </li>
      <li>
        <a href="#meals" class="main-nav-link">Meals</a>
      </li>
      <li>
        <a href="#testimonials" class="main-nav-link">Testimonials</a>
      </li>
      <li>
        <a href="#pricing" class="main-nav-link">Pricing</a>
      </li>
      {% if not session['full_name'] %}
        <li>
          <a href="#cta" class="main-nav-link nav-cta">Try for free</a>
        </li>
      {% endif %}
    </ul>
  </nav>

  <button class="btn-mobile-nav">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button>
</header>